---
import Layout from "../layouts/layout.astro"
import Nav from "../components/nav.astro"
import Hero from "../components/hero.astro"
import Habilidades from "../components/habilidades.astro"
import Experiencia from "../components/experiencia.astro"
import Proyectos from "../components/proyectos.astro"
---

<Layout>
	<Nav></Nav>
	<Hero></Hero>
	<Habilidades></Habilidades>
	<Experiencia></Experiencia>
	<Proyectos></Proyectos>
</Layout>

