---
const menuitems = [
  {
    year: "Mayo 2024 - Julio 2025",
    title: "Becaria de Sistemas | UNIFRANZ",
    description:
      "Cuento con experiencia en el manejo de configuración y operaciones de equipos de audio y vídeo para eventos en vivo, conferencias y presentaciones, asegurando un correcto desempeño técnico. Asimismo, he brindado soporte y asistencia técnica a los usuarios, resolviendo inconvenientes de manera ágil y eficiente. Todo esto acompañado de una constante orientación hacia la atención y servicio al cliente, garantizando una experiencia satisfactoria y de calidad.",
  },
  {
    year: "Febrero 2024 - Abril 2024",
    title: "Becaria | FABLAB SANTA CRUZ",
    description: "He brindado apoyo y participación en áreas de electrónica y circuitos, adquiriendo conocimientos prácticos en el desarrollo y manejo de componentes. También formé parte de proyectos que involucraron impresión 3D, aportando en el diseño y fabricación de piezas, así como en trabajos realizados con corte láser, lo que me permitió fortalecer mis habilidades técnicas y de trabajo colaborativo en entornos multidisciplinarios.",
  },
  {
    year: "Septiembre 2022 - Diciciembre 2023",
    title: "Becaria del área de Servicios Estudiantiles",
    description: "Me destaco por brindar una atención y servicio al cliente de calidad, buscando siempre generar una experiencia positiva y resolver sus necesidades de manera efectiva. Asimismo, mantengo un alto nivel de compromiso en el cumplimiento eficiente de las tareas asignadas, asegurando responsabilidad y organización en cada actividad. Además, considero fundamental el trabajo en equipo como herramienta clave para alcanzar los objetivos planteados, fomentando la colaboración y el apoyo mutuo para obtener los mejores resultados.",
  },
  
  
];
---

<section id="Experiencia" class="px-4 pt-12 mx-auto max-w-7xl">
  <h2
    class="mb-6 text-3xl font-bold leading-tight text-center text-gray-100 md:text-5xl">
    Experiencia
  </h2>
  <ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
    menuitems.map((item) => (
      <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 rounded-full mt-1.5 -start-1.5 bg-amber-400"></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">{item.year}</time>
          <h3 class="text-lg font-semibold text-gray-100">{item.title}</h3>
          <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">{item.description}</p>
      </li>
    ))
  }
  </ol>
</section>
