---
import Button from "./ui/button.astro";
import {Astronav, MenuIcon, MenuItems} from 'astro-navbar';

const menuitems = [
    {
        title: 'Experiencia',
        path: '#Experiencia',
    },
    {
        title: 'Proyectos',
        path: '#Proyectos',
    },
    {
        title: 'Habilidades',
        path: '#Habilidades',
    },
]
---

<nav class="px-4 pt-6 mx-auto max-w-7xl flex flex-col items-center justify-between lg:flex-row">
    <Astronav> 
        <!-- Layout para móvil: botón - nombre - hamburguesa -->
        <div class="flex w-full items-center justify-between lg:hidden">
            <Button></Button>
            <!-- <h2 id="NombreNav">Fabio Ortega</h2> -->
            <div class="mr-3">
                <MenuIcon class="h-6 w-6 text-gray-100" />
            </div>
        </div>

        <!-- Layout para desktop: botón - menú - nombre centrado -->
        <div class="hidden lg:flex lg:w-full lg:items-center lg:justify-between">
            <!-- Botón a la izquierda -->
            <div class="flex-shrink-0">
                <Button></Button>
            </div>
            
            <!-- Espacio para mantener el balance (invisible) -->
            <div class="flex-shrink-0 w-24"></div>
        </div>

        <MenuItems class="mt-2 hidden w-full lg:mt-0 lg:flex lg:w-auto lg:justify-center"> 
            <ul class="flex flex-col lg:flex-row lg:space-x-6 ">
                {menuitems.map((item) => (
                    <li class="lg:whitespace-nowrap text-xl">
                        <a
                            id="itemsNav"
                            aria-label="navigation link"
                            href={item.path}
                            class="block mr-3 py-2 px-4 text-gray-100 lg:px-3 whitespace-nowrap rounded-md transition-all duration-300 hover:text-yellow-400 font-bold font-mono relative overflow-hidden group"
                        >
                            {item.title}
                            <span class="absolute bottom-0 left-0 w-0 h-0.5 bg-gradient-to-r from-yellow-400 to-yellow-400 transition-all Sduration-300 ease-out group-hover:w-full"></span>
                        </a>
                    </li>
                ))}
            </ul>
        </MenuItems>
   </Astronav>
</nav>