---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta
      name="description"
      content="Mira mi portafolio web y conoce más sobre Fabio Ortega"
    />
    <!-- OPEN GRAPH -->
    <meta property="og:title" content="GravitaStick" />
    <meta
      property="og:description"
      content="Mira mi portafolio web y conoce más sobre Fabio Ortega"
    />
    <!-- <meta property="og:image" content="/images/LogoOficial.webp" />
    <meta property="og:image:alt" content="Logo oficial de Gravita Stick" /> -->

    <!-- Iconos de la página -->
	<link rel="icon" type="image/svg+xml" href="/code.svg"/>

    <title>Document</title>
  </head>
  <body> 
    <slot>
</html>
