---
import "../styles/global.css"; //Importaci칩n de estilo globales de la libreria de daisyUI
---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta
      name="description"
      content="Mira mi portafolio web y conoce m치s sobre Fabio Ortega"
    />
    <!-- OPEN GRAPH -->
    <meta property="og:title" content="GravitaStick" />
    <meta
      property="og:description"
      content="Mira mi portafolio web y conoce m치s sobre Fabio Ortega"
    />
    <!-- <meta property="og:image" content="/images/LogoOficial.webp" />
    <meta property="og:image:alt" content="Logo oficial de Gravita Stick" /> -->

    <!-- Iconos de la p치gina -->
    <link rel="icon" type="image/svg+xml" href="/code.svg" />
    <title>Portafolio - Fabio Ortega</title>
  </head>
  <body class="overflow-x-hidden">
    <main class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]">
      <slot/>
    </main>
  </body>
</html>
